.react-autosuggest__container {
    position: relative;
}

.react-autosuggest__input {
    padding: 10px;
    border: 1px solid #777;
    border-radius: 10px;
    width: 100%;
    padding-left: 40px;
}

.autosuggest__input.invalid {
    border: 2px solid red;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.react-autosuggest__input--focused {
    outline: none;
}

.react-autosuggest__suggestions-container {
    display: none;
}

.react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 70px;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 16px;
    border-radius: 4px;
    z-index: 2;
}

.react-autosuggest__suggestion {
    padding: 10px;
    cursor: pointer;
}

.react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
}

.label-icon {
    position: absolute;
    left: 5px;
    top: 6px;
}

.icon {
    color: #aaa;
}

@media (min-width: 576px) {
   
}

@media (min-width: 992px) {
    .react-autosuggest__input {
        width: 40%;
    }
    .react-autosuggest__suggestions-container--open{
        width: 40%;
    }
}