@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body {
    background-color: #fff;;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.input-container {
    position: relative;
}

.label-icon {
    position: absolute;
    left: 5px;
    top: 6px;
}

.icon {
    color: #aaa;
}

.input-text {
    padding: 10px;
    border: 1px solid #777;
    border-radius: 10px;
    width: 100%;
    padding-left: 40px;
}

.input-text.invalid {
    border: 1px solid red;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    position: absolute;
}

.buttonNext {
    margin-top: 40px;
    background-color: #9733FF;
    padding: 10px;
    padding-top: 15px;
    border-radius: 40px;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.buttonNext.inactiveButton {
    background-color: rgb(47, 47, 47);
    color:#fcfcfc
}

.form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form>div {
    margin-bottom: 10px;
}

.text-current-text {
    color: #7C3AED;
}

.layout {
    display: flex;
    margin-bottom: 1rem;
    flex-direction: column;
}

.div-content {
    width: 100%;

}

.div-summary {
    margin-top: 60px;
    background-color: #fcfcfc;
    width: 20%;
    height: 100vh;
    display: none;
    padding: 10px;
}

.fixedButton{
    display: block;
    position: fixed;
    bottom: 0px;
    right: 0px; 
    width: 100%;
    background-color: #9733FF;
    padding: 10px;
    color: white;
    text-align: center;
    cursor: pointer;
    height: 40px;
    box-shadow: inset 0 0 10px#a3a3a3;
}


hr.solid {
    border-top: 2px solid #e2e2e2;
}

.title-primary-summary{
    color: #7C3AED;
    font-family: 'Poppins'; 
    font-size:'1.1em';
}



.title-secondary-summary{
    color: #434343;
    font-family: 'Poppins'; 
    font-size:'1em';
}

.title-secondary-summary.active{
    color: #7C3AED;
}

.content-summary{
    border-left: 4px solid #a3a3a3;
    padding:10px;
}

.content-summary.active{
    border-left: 4px solid #7C3AED;
}

/* Responsive Styles */

@media (min-width: 576px) {


}

@media (min-width: 992px) {
    .container {
        width: 70%;
    }

    .input-text {
        width: 40%;
    }

    .buttonNext {
        width: 60%;
    }

    .layout {
        display: flex;
        margin-bottom: 1rem;
        flex-direction: row;
    }

    .div-content {
        width: 80;
    }

    .div-summary {
        display: block;
    }

    .container {
        width: 50%;
    }

    .fixedButton{
        display: none;
    }

}