.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: #fff;
  width: 400px;
  max-width: 90%;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: larger;
  font-weight: 600;
  padding-left: 20px;
}

.modal-header h2 {
  margin: 0;
}

.modal-close {
  background: #9733FF;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.modal-close:hover {
  background: #8e2fe4;
}

.modal-content {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Responsive Styles */

@media (max-width: 600px) {
  .modal {
    width: 90%;
  }
}